# Docker 镜像
DOCKER_REGISTRY=
DOCKER_IMAGE=
DOCKER_TAG=

# Postgres
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# App
APP_ENV=
SECRET_KEY=
LOG_LEVEL=INFO
DB_DEBUG=False
WORKERS=4

# Sentry
SENTRY_DSN=
SENTRY_SAMPLE_RATE=0.1
FEISHU_WEBHOOK_URL=
